/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require gritter
 *= require_tree .
 *= require_self
 */

 .ey_container {
 	width: 96%;
 	margin:auto;
 }

 body {
 	background-color: #fff !important;
 }

 .ey_copyright {
 	text-align: center;
 	padding-top: 25px;
 	padding-bottom: 25px;
 	font-size: 16px;
 	opacity: .3;
 }

 h4 {
 	margin-bottom: 0px!important;
 }

 #edit_farm_button {
 	position: fixed;
 	bottom: 20px;
 	left: 20px;
 }

 .directions_div {
 	text-align: center;
 }

 .mod_overlay {
	width: 150%;
	height: 2500px;
	background-color: gray;
	display: none;
	position: fixed;
	z-index: 9;
	opacity: 0.8;
	top: -250px;
	left: -200px;
}

.add_new_link {
	width: 40%;
	height: 475px;
	top: 9%;
	left: 30%;
	margin-top: 100px;
	position: fixed;
	background-color: #18bc9c;
	border-radius: 5px;
	z-index: 11;
	display: none;
}

.add_new_link_inside {
	width: 90%;
	margin-left: 5%;
}

.big_rating {
	font-size: 35px;
}

.navbar {
	position: relative;
	min-height: 60px;
	margin-bottom: 0px 
}

p.notice {
	display: none;
}

p.alert {
	display: none;
}

.ey_nav_div {
	float: none;
	text-align: center;
}

#farm_description {
	height: 500px;
}


.farm_sum {
	height: 300px;
	border-radius: 5px;
	border: 2px solid #18bc9c;
	margin-top: 15px;
}

.farm_sum:hover {
	border: 2px solid #3498db;
	transition: border 5s ease;
}

.button_div {
	width: 90%;
	margin: auto;
	padding-top: 10px;
}

.first_button {
	height: 230px;
}

a:hover{
	color: #3498db!important;
	text-decoration: none!important;
}